.sans-serif{
    font-family: 'Montserrat', 'Helvetica', 'arial' sans-serif !important;
}

.subheading{
    font-family: 'Droid Serif', serif !important;
    font-style: italic;
}

.text-center{
    text-align:center;
}
